@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%; /*根據使用者設定字體大小實時反映*/
    scroll-behavior: smooth;
}
body{
    font-family: "LXGW WenKai Mono TC", monospace;
    line-height: 1.7;
    color: #FFF8DE
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
.about{
    max-width: 736px;
    padding: 1.5rem 1.5rem;
    margin: 3rem auto 0;
}
.about p{
    margin-bottom: 3rem;
}
h3{
    color:#452829;
}
p{
    font-size: 1.2rem;
    color: #452829;
}

/*版面配置-排版*/
.wrapper{
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center{
    text-align: center;
    margin-bottom: 1.5rem;
}
.news-wrapper{
    text-align: center;
}

/*標題*/
.font-zh-tw{
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: bold;
}
.page-title{
    color:#FFF8DE;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    line-height: 1.4;
}

.heading-large,
.heading-medium{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
.heading-large{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

/*副標題*/
.subtitle{
    color: #FFF8DE;
    display: block;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bolder;
}
.side-menu{
    font-size: 1.4rem;
    text-align: center;
    font-weight: bolder;
}

/*按鈕*/
.btn{
    display:inline-block;
    font-size: 1.5rem;
    background-color: #D4AF37;
    color: #452829;
    border-radius: 8px;
    padding: .75rem 1rem;
}
.btn:hover{
    background-color: #FFF8DE;
    transition: 0.5s;
}

/*Header*/
.page-header{
    padding-top: .5rem;
}
.logo{
    width: 210px;
}
.main-nav{
    display: flex;
    justify-content: center;
    gap:2.5rem;
    font-size:1.5rem;
    list-style: none;
}
.main-nav a{
    color:#FFF8DE;
}
.main-nav a:hover{
    color: #D4AF37;
    text-decoration: none;
    transition: 0.5s;
}
.cover{
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.sub-cover{
    background-size: cover;
    background-position: center;
    height: 528px;
    margin-bottom: 4rem;
}
.cover-home{
    background-image: url(back2.jpg);
}

/*最新消息*/
.cover-news{
    background-image: url(back2.jpg);
}
.news-title{
    color:#B77466;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    line-height: 1.4;
}
.news-subtitle{
    color: #B77466;
    display: block;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bolder;
}
h2{
    margin-bottom: 3rem;
}

/*消息文章*/
.post{
    margin-bottom: 3rem;
}
.post-title{
    color: #452829;
    font-weight: bolder;
    margin-bottom: 1.25rem;
}
.post-info{
    color: #452829;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.post-cat{
    display: flex;
    gap: .5rem;
    list-style: none;
}
.post-cat a{
    color:#452829;
    background-color: #D4AF37;
    border-radius: 5px;
    font-size: .875rem;
    padding: .25rem .75rem;
}
.post-cat a:hover{
    background-color: #FFF8DE;
    transition: .5s;
}
.post-date{
    color: #452829;
    font-size: .875rem;
}
.images{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.img-thumbnail{
   border-radius: 16px;
   width: 48%;
   object-fit: cover;
}
.post p{
    margin-bottom: 1.5rem;
    line-height: 2;
}
.hightlight{
    color:#AA2B1D;
    font-size: 2rem;
    font-weight: bolder;
}

/*側邊欄*/
.side-menu{
    list-style: none;
    text-align: center;
    margin-bottom: 4rem;
}
.side-menu li{
    border-bottom: 1px solid #452829;
}
.side-menu a{
    color: #D4AF37;
    display: block;
    padding: 1rem;
}
.side-menu a:hover{
    color: #452829;
    transition: .5s;
}
.ad img{
    width: 85%;
    border-radius: 8px;
    margin-bottom: 1rem;
    
}


/*Footer*/
.info{
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
    color: #452829;
}
.info th,
.info td{
    border-bottom: 1px solid #452829;
}
.info th{
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td{
    padding: 1rem 0;
}
.copyright{
    background-color: #452829;
    text-align: center;
    padding: .5rem 0;
    margin-top: 6rem;
}

/*Footer的背景*/
.page-footer{
    background-image: url(back4.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
}

/*響應式(媒體查詢Media Queries)-電腦版畫面*/
@media(min-width: 800px){
    /*標題*/
    .page-title{
        color: #B77466;
        font-size: 5rem;
    }
    .subtitle{
        color: #B77466;
        height: auto;
        margin-bottom: 0;
    }
    .heading-large{
        font-size: 4rem;
    }
    .post-title{
        font-size: 2rem;
    }
    .news-title{
        margin-top: 6rem;
    }
    .news-title,
    .news-subtitle{
        color: #B77466;
    }
    .about{
    max-width:950px;
    padding: 1.5rem 1.5rem;
    margin: 3rem auto 0;
}
   
    /*電腦版LOGO*/
    .logo{
        width: 300px;
    }

    /*Header*/
    .page-header{
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
        align-items: center;
    }
    .main-nav{
        font-size: 2rem;
    }
    .cover{
        height: 100vh;
    }

    /*Header Cover圖片*/
    .sub-cover{
        height: auto;
        margin-bottom: 0;
    }

    /*News*/
    .cover-news{
    background-image: url(back2.jpg);
    }
    h2{
    margin-bottom: 3rem;
    }
    .news-contents{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .post{
        width: 56%;
        order: 2;
    }
    .sidebar{
        width: 20%;
        order: 3;
    }
    .ad{
        width: 20%;
        order: 1;
    }
    .sidebar,
    .heading-medium{
        line-height: 1;
        margin-bottom: 1rem;
    }
    .ad img{
        width: 100%;
        height: auto;
       margin-bottom: .25rem;
    }
    .side-menu{
    font-size: 1.7rem;
    text-align: center;
    font-weight: bolder;
}

    /*Home*/
    .cover-home{
    background-image: url(back2.jpg);
    }

    /*Footer*/
    .page-footer{
    background-image: url(back4.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    }
    .info th{
        padding-left: 2.5rem;
    }
}